<%= form_for @collection do |c| %>
 
  <p>
    <%= c.label :title %><br>
    <%= c.text_field :title %>
  </p>
 
  <p>
    <%= c.label :description %><br>
    <%= c.text_area :description %>
  </p>
 
  <p>
    <%= c.submit %>
  </p>
 
<% end %>