<h2>All Collections</h2>
<%= link_to 'New collection', new_collection_path %>
<% @collections.each do |collection| %>
  <p><%= collection.title %> <%= link_to 'Show', collection_path(collection) %> <%= link_to 'Edit', edit_collection_path(collection) %> <%= link_to 'Destroy', collection_path(collection),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></p>
<% end %>