<p>
  <strong>Commenter:</strong>
  <% unless comment.user.nil? %>
    <%= comment.user.email %>
    <%= gravatar_image_tag(comment.user.email) %>
  <% end %>
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.body %>
</p>

<p>
<%= link_to 'Destroy Comment', [comment.book, comment],
             method: :delete,
             data: { confirm: 'Are you sure?' } %>		
</p>
